.Caracter-Quiz-Container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Quiz-Question-Container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Quiz-Question-h1{
   text-align: center;
}

.Quiz-Question-img{
    border: solid black 1px;
    width: 240px;
    border-radius: 54px;
}

.Quiz-Question-input{
    border: solid black 1px;
    margin: 20px;
    width: 233px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

.Quiz-Question-button{
    border: solid black 1px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
}

.Quiz-Question-Points{
    font-size: 24px;
    font-family: emoji;
}


.Game-End-Popup{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Game-End-h1{
    font-family: emoji;
    font-size: 30px;
    margin: 10px;
}

.Game-End-button{
    border: solid black 1px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
}

